<form method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    {{ form.as_p }}
    <input type="submit" value="Submit">
    <td><a href="/index/" class="btn" role="button">Home</a></td>
</form>