<!DOCTYPE html>
<html>
<style>
    table, tr, th, td {
        border:1px solid black;
    }
</style>
<body>
<div class="main">
    <h2>Detail</h2>
    <table style="width: 25%;">
        <thead>
            <tr>
                <th>Tanggal</th>
                <th>{{ data.tanggal }}</th>
            </tr>
        </thead>

            <tbody>
                <tr>
                    <td>Maks</td>
                    <td>{{ data.maks }}</td>
                </tr>
                <tr>
                    <td>Mins</td>
                    <td>{{ data.mins }}</td>
                </tr>
                <tr>
                    {% load mathfilters %}
                    <td>Perbedaan</td>
                    <td>{{ data.maks|sub:data.mins }}</td>
                </tr>
                <tr>
                    <td><a href="/update/{{ data.id }}" class="btn" role="button">Update</a></td>
                    <td><a href="/index/" class="btn" role="button">Home</a></td>
                </tr>
                <tr>
                    <td><a href="/detail/{{ data.id }}/delete/" class="btn" role="button">Hapus</a></td>
                </tr>
            </tbody>
        </table>