{% load mathfilters %}
<!DOCTYPE html>
<html>
<style>
    table, tr, th, td {
        border:1px solid black;
    }
</style>
<body>
<div class="main">
    <h2>Aplikasi CRUD</h2>
    <table style="width: 50%;">
        <thead>
            <tr>
                <th>Tanggal</th>
                <th>Maks</th>
                <th>Mins</th>
                <th>Beda</th>
                <th width="10%" colspan="2">Aksi</th>
            </tr>
        </thead>

            <tbody>
                {% for data in dataset %}
                <tr>
                    <td>{{ data.tanggal }}</td>
                    <td>{{ data.maks }}</td>
                    <td>{{ data.mins }}</td>
                    <td>{{ data.maks|sub:data.mins }}</td>
                    <td><a href="/detail/{{ data.id }}" class="btn" role="button">Detail</a></td>
                    <td><a href="/detail/{{ data.id }}/delete/" class="btn" role="button">Hapus</a></td>
                </tr>
                {% endfor %}
                <tr>
                    <td>Rata-Rata</td>
                    <td>{{ counter_maks }}</td>
                    <td>{{ counter_mins }}</td>
                    <td>{{ counter_avg }}</td>

                </tr>
                
            </tbody>
        </table>
        <td><a href="/create/" class="btn" role="button">Tambah</a></td>
 
    
 
</div>
</body>