<div class="main">
    <form method="POST">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" value="Update">
        <td><a href="/index/" class="btn" role="button">Home</a></td>
    </form>
 
</div>